[buildout]
parts =
    gae_sdk
    gae_tools
    app_lib

relative-paths = true
unzip = true

extends = versions.cfg
versions = versions

extensions = buildout.dumppickedversions
dump-picked-versions-file = versions.cfg

# Keep internal stuff in a subdirectory.
download-cache = var/downloads
develop-eggs-directory = var/develop-eggs
parts-directory = var/parts

[gae_sdk]
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.5.2.zip

[gae_tools]
recipe = appfy.recipe.gae:tools
extra-paths =
    app
    app/lib
    app/lib/dist

[app_lib]
recipe = appfy.recipe.gae:app_lib
lib-directory = app/lib/dist
use-zipimport = false

eggs =
    tipfy-dev
	webapp2
	protorpc
    jinja2
    babel
    gaepytz
    wtforms
	lovely.gae
	slimmer
	apptrace

ignore-globs =
    *.c
    *.pyc
    *.pyo
    *.so
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy

ignore-packages =
    distribute
    setuptools
    easy_install
    site
    ssl
    pkg_resources
